# POSTTEST 8

### Import library yang akan digunakan

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

### Read Data

In [43]:
df = pd.read_csv('Breast_Cancer.csv')
df.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,18,2,89,Alive
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8,Positive,Positive,11,1,54,Alive
7,40,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,9,1,14,Dead
8,40,White,Divorced,T4,N3,IIIC,Poorly differentiated,3,Regional,103,Positive,Positive,20,18,70,Alive
9,69,White,Married,T4,N3,IIIC,Well differentiated,1,Distant,32,Positive,Positive,21,12,92,Alive

### Mengecek Columns dengan type object

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

### Encoding data yang bertype object menggunakan OrdinalEncoder

In [45]:
ordinal_enc = OrdinalEncoder()
df['Race'] = ordinal_enc.fit_transform(df[['Race']])
df['Marital Status'] = ordinal_enc.fit_transform(df[['Marital Status']])
df['N Stage'] = ordinal_enc.fit_transform(df[['N Stage']])
df['6th Stage'] = ordinal_enc.fit_transform(df[['6th Stage']])
df['differentiate'] = ordinal_enc.fit_transform(df[['differentiate']])
df['Grade'] = ordinal_enc.fit_transform(df[['Grade']])
df['A Stage'] = ordinal_enc.fit_transform(df[['A Stage']])
df['Estrogen Status'] = ordinal_enc.fit_transform(df[['Estrogen Status']])
df['Progesterone Status'] = ordinal_enc.fit_transform(df[['Progesterone Status']])
df['Status'] = ordinal_enc.fit_transform(df[['Status']])

### Membuat label dan record

In [46]:
record = df[['Race','Marital Status', 'N Stage','6th Stage','differentiate','Grade','A Stage','Estrogen Status','Progesterone Status','Status']]
label = df['Status']

### Splitting data menjadi train dan test dengan scale 70:30

In [47]:
X_train, X_test, y_train, y_test = train_test_split(record, label, test_size=.3)

### Mengubah kelas vektor ke matriks kelas biner menggunakan _utils_ serta menentukan jumlah kelasnya

In [48]:
num_class = 2
y_train = tf.keras.utils.to_categorical(y_train, num_class)
y_test = tf.keras.utils.to_categorical(y_test, num_class)

### Membuat Model Sequential

In [89]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_dim=10),
    tf.keras.layers.Dense(num_class, activation='sigmoid')
])
model.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_45 (Dense)            (None, 16)                176

 dense_46 (Dense)            (None, 2)                 34

=================================================================
Total params: 210
Trainable params: 210
Non-trainable params: 0
_________________________________________________________________

### Melakukan Compile, dengan mengoptimasi dengan _optimizer Adam_ dan losses menggunakan _categorical crossentropy_

In [90]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.categorical_crossentropy,
    metrics=['accuracy']
)

### Train Model dengan epoch (iterasi) sebanyak 10, dan steps_per_epoch (langkah per iterasi) 20

In [91]:
history = model.fit(
    x = X_train,
    y = y_train,
    validation_data=(X_test,y_test),
    epochs=10,
    steps_per_epoch=20,
)

Epoch 1/10
20/20 [==============================] - 0s 9ms/step - loss: 2.9730 - accuracy: 0.1545 - val_loss: 2.2443 - val_accuracy: 0.1515
Epoch 2/10
20/20 [==============================] - 0s 4ms/step - loss: 1.7511 - accuracy: 0.2109 - val_loss: 1.2131 - val_accuracy: 0.2914
Epoch 3/10
20/20 [==============================] - 0s 4ms/step - loss: 0.9355 - accuracy: 0.4055 - val_loss: 0.6757 - val_accuracy: 0.6341
Epoch 4/10
20/20 [==============================] - 0s 4ms/step - loss: 0.5643 - accuracy: 0.7223 - val_loss: 0.4744 - val_accuracy: 0.8195
Epoch 5/10
20/20 [==============================] - 0s 3ms/step - loss: 0.4241 - accuracy: 0.8381 - val_loss: 0.3925 - val_accuracy: 0.8402
Epoch 6/10
20/20 [==============================] - 0s 3ms/step - loss: 0.3603 - accuracy: 0.8540 - val_loss: 0.3466 - val_accuracy: 0.8551
Epoch 7/10
20/20 [==============================] - 0s 3ms/step - loss: 0.3200 - accuracy: 0.8636 - val_loss: 0.3113 - val_accuracy: 0.8618
Epoch 8/10
20/20 [==============================] - 0s 3ms/step - loss: 0.2875 - accuracy: 0.8736 - val_loss: 0.2810 - val_accuracy: 0.8791
Epoch 9/10
20/20 [==============================] - 0s 3ms/step - loss: 0.2601 - accuracy: 0.8892 - val_loss: 0.2555 - val_accuracy: 0.8932
Epoch 10/10
20/20 [==============================] - 0s 3ms/step - loss: 0.2371 - accuracy: 0.9016 - val_loss: 0.2345 - val_accuracy: 0.8998

### Menyimpan model yang telah dibuat kedalam folder _model/model_seq.h5_

In [92]:
model.save('model/model_seq.h5')